<h1>Random Name</h1>
<p>Hello I'm <%= @name %></p>
<p>Time = <%= format_time(@time) %></p>
<p><%= link_to "Google", "https://google.com" %></p>
<p><%= link_to "Good Bye!", greeter_goodbye_path %></p>
